In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [5]:
filepath = './리뷰들'
filelist = os.listdir(filepath)

In [11]:
a = pd.read_csv(filepath + "/" + '인문_1_리뷰.csv')
len(a)

10000

In [9]:
review_df = pd.DataFrame(columns = a.columns)
for i in range(len(filelist)):
    df = pd.read_csv(filepath + '/' + filelist[i])
    review_df = pd.concat([review_df, df])

In [16]:
review_df.head()

,강의명,학점,강좌유형,패논패여부,이수학년,전공여부,학과,교수명,리뷰,작성시점,평가별점수,공감수
0,기업가정신과창업(KCU),3,이론,x,전학년,교양,교양,김한수,첫 kcu 강의 퀄리티 떨어지지만 에이쁠 받기 쉬움,22년 2학기 수강자,4,0
1,기업가정신과창업(KCU),3,이론,x,전학년,교양,교양,김한수,그저그래요. 다른건 다 낫배드했는데 기말고사로는 서술형 1문제가 나왔어요. 비중도 ...,22년 2학기 수강자,4,0
2,기업가정신과창업(KCU),3,이론,x,전학년,교양,교양,김한수,"기창 강의평\n\n피드백 없고, 강의안도 없지만 그래도 할만한 꿀강...\n퀴즈 2...",22년 2학기 수강자,4,0
3,기업가정신과창업(KCU),3,이론,x,전학년,교양,교양,김한수,과제 하나도 없고 출석 퀴즈2번 기말1번만 하면됨\n퀴즈는 인터넷 서치해야하고 강의...,22년 2학기 수강자,3,0
4,기업가정신과창업(KCU),3,이론,x,전학년,교양,교양,김한수,"KCU 5과목 정도 수강했는데 그중에 제일 별로..\n\n퀴즈2번, 기말고사1번\n...",22년 2학기 수강자,3,0

In [17]:
# 중복 제거 전 review_df 길이
len(review_df)

51792

In [20]:
# 중복 제거 후 길이
review_df = review_df.drop_duplicates(subset=['리뷰'])
len(review_df)

40124

- 모든 리뷰들이 중복되지 않은 것을 확인할 수 있음.

In [19]:
review_df.to_csv('합친리뷰.csv',index=False, encoding='utf-8-sig')